@media screen {
    body {
        background: #000;
        color: #fff;
    }
    hr {
        background: red;
        border: 0;
        height: 1px;
        margin: 1em 0em 1.5em -10em;
    }
    h1 {
    	color: red;
    }
    .button {
    	-webkit-border-radius: 28;
		-moz-border-radius: 28;
		border-radius: 28px;
		font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
		color: #f00;
		font-size: 20px;
		background: #fff;
		padding: 10px 20px 10px 20px;
		border: solid #f00 2px;
		text-decoration: none;
		width: 15em;
	}
	.button:hover {
		background: #000;
		text-decoration: none;
	}
}
@media print {
    body {
        background: #fff;
        color: #000;
    }
    hr {
        display: none;
    }
    h1 {
        display: none;
    }
    .button {
    	display: none;
    }
}

body {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 16px;
}

#history {
	display: none;
}

#character_sheet {
	display: none;
}

#history td {
	vertical-align: top;
}

#charsheet {
	white-space: pre-wrap;
	width: 70em;
}	